<section class="browse-events-page">

  {{#if events.length}}
    <div class="event-grid">
      {{#each events}}
        {{> eventCard}}
      {{/each}}
    </div>
  {{else}}
    <div class="no-events">
      <p>No events available.</p>
    </div>
  {{/if}}

</section>