<section class="section-block">
  <div class="details-content-card">
    <h1>{{status}}</h1>
    <p class="error-text">{{message}}</p>
    <a href="/" class="primary-btn">Go Home</a>
  </div>
</section>
